html,
body {
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
  transition: ease-in-out;
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
  /* overflow-x: hidden; */
  overflow: auto;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #fff;
  transition: ease 300ms;
}

::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background-color: #9c9c9c;
  border-radius: 100px;
  height: 120px;
}

.idn-hero-container {
  height: 400px;
  margin-bottom: 30px;
  border-bottom: 1px dotted black;
}

/*
   Navbar
*/
.navbar {
  background-color: #000;
  color: #fff;
  min-height: 100px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.navbar-collapse {
  transition: ease-in-out 300ms !important;
}

.navbar-toggler {
  background-color: #fff !important;
}

.navbar .navbar-brand {
  font-size: 33px;
  font-weight: 600;
  font-style: normal;
  color: #fff !important;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.navbar .nav-link {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  color: #fff !important;
  text-transform: uppercase;
}

.idn-card-item {
  width: 100%;
  height: 550px !important;
  background-color: #fff;
  /* box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px; */
  border-radius: 8px !important;
  margin-bottom: 30px;
}

.idc-card-item:hover {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.idc-card-item .idc-item-info {
  margin-bottom: 13px;
  border: 1px solid black !important;
}

.idn-card-item .idc-item-name {
  font-size: 18px;
  text-align: left;
  color: black;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  transition: ease-in 300ms;
}

.idn-card-item .idc-item-name:hover {
  text-decoration: underline;
}

.idn-card-item .idc-item-name:visited {
  color: blueviolet !important;
}

.idn-card-item .idc-item-desc {
  /* margin-bottom: 30px; */
  font-size: 18px;
  font-weight: 400;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.idn-card-item .idc-item-image {
  width: 100%;
  height: 250px;
}

.idn-card-item .idc-item-button {
  margin-top: 20px;
  margin-bottom: 10px;
}

.idn-program-card {
  width: 100%;
  height: auto;
  background-color: #fff;
  border-radius: 10px;
  transition: ease 500ms;
  cursor: pointer;
}

.idn-program-card:hover {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.idn-program-card .idn-program__title {
  font-size: 22px;
  text-align: left;
  color: black;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 13px;
}

.idn-program-card .idn-program__desc {
  margin-bottom: 13px;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  /* number of lines to show */
  line-clamp: 5;
  -webkit-box-orient: vertical;
}

.idn-program-card .idn-program__action {
  margin-bottom: 10px;
}

/* 
  Loader
*/
.loader {
  position: fixed;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  margin-top: -150px;
  transition: all 0.5s;
}

.loader .ring {
  height: 45px;
  width: 45px;
  border: 5px solid #ddd;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader .ring:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 5px solid black;
  border-top-color: transparent;
  animation: rotate 1.5s linear infinite;
}

.loading {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 500;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-size: 33.3px;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman",
    serif /*rtl:Amiri, Georgia, "Times New Roman", serif*/;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.flex-auto {
  flex: 0 0 auto;
}

.h-250 {
  height: 250px;
}
@media (min-width: 768px) {
  .h-md-250 {
    height: 250px;
  }
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.nav-scroller {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
  transition: ease-in 500ms;
}

.active {
  font-weight: 500 !important;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav a:hover {
  font-weight: 600;
  text-decoration: underline !important;
}
